body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(175, 203, 118);
    background-attachment: fixed;
}


.navbar{
    width: 100%;
    height: 75px;
    margin: auto;
    display: flex;
    background-color: orange;
}
nav{
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: orange;
}
ul{
    display: flex;
    list-style: none;
    margin-right: 30px;
    background-color: orange;
}
ul li a{
    text-decoration: none;
    color: #120f0f;
    font-size: 20px;
    padding: 0 20px;
    font-family: sans-serif;
    font-weight: bold;
}
nav h1{
    color: #0c7214;
    margin-left: 30px;
}

h2{
    text-align: center;
    font-size: 40px;
    color: #120f0f;
    margin:250px;
    margin-bottom: 150px;
}
button{
    width: 400px;
    height: 70px;
    font-size: 20px;
    background-color:#0c7214;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    color: #120f0f;
    margin-left: 550px;
    margin-top: -60px;
    cursor: pointer; 
}
button a{
    text-decoration: none;
    color: white;
}
.see-More button{
    width: 100%;
    margin:0;
    padding: 0;
}
.about {
    width: 100%;
    height: 100%;
    background-color: orange;
    
    

}
.about h1{
    text-align: center;
    font-size: 40px;
    color: #120f0f;
    margin-top:100px;
    margin-bottom: 150px;
    padding-top: 30px;
    padding-bottom: -50px;

}
.about #about{
    display: flex;
}
.about #jacky{
    display: flex;
}
.about #lucky{
    display: flex;
}
.about #lucky img{
    width: 200px;
    height: 300px;
    padding:50px;
    border-radius: 20px;
    
}
.about #jacky img{
    width: 200px;
    height: 300px;
    border-radius: 20px;
    padding: 50px;
}
.about p{
    font-size: 20px;
    color: #120f0f;
    margin-left: 100px;
    margin-right: 10px;
    margin-bottom: 100px;
    padding-top: 30px;
    
  

}
#jacky{
    
    width: 50%;
    padding: 20px;
    padding-top: 10px;
}
#lucky{
   
    width: 50%;
    padding: 20px;
    padding-top: 10px;
}
#about{
    margin: 50px;
    margin-top: -90px;
    padding-top: 10px;
}
@media screen and (min-width: 600px) {
    .navbar{
        width: 100%;
        height: 75px;
        margin: auto;
        display: flex;
        background-color: orange;
    }
}
.events{
    width: 100%;
    height: 100%;
    background-color: orange;
}
.favourites{
    width: 100%;
    height: 100%;
    background-color: rgb(175, 203, 118)
}
.favourites h1{
    text-align: center;
    font-size: 40px;
    color: #120f0f;
    padding-top: 20px;
    padding-bottom: -50px;
}
.container1{
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
}
.container1 .co img {
    width: 400px;
    height: 300px;
    padding: 20px;
    border-radius: 20px;
    
}
.co h1{
    text-align: center;
    font-size: 30px;
    color: #120f0f;
    padding-top: -80px;
    padding-bottom: -50px;
}